<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="Binding1" closeTimeout="01:10:00" openTimeout="01:10:00"

            receiveTimeout="01:10:00" sendTimeout="01:10:00"
                 maxBufferSize="65536000" maxConnections="10" maxReceivedMessageSize="65536000">
         
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>

      <endpoint address="net.pipe://localhost/Service64DLLLoader"
          binding="netNamedPipeBinding" bindingConfiguration="Binding1"
          contract="Service64Proxy.ISimpleService64" />
    </client>
  </system.serviceModel>
</configuration>
